[submodule "workspace/libressl"]
	path = workspace/libressl
	url = https://github.com/libressl/portable
[submodule "workspace/nginx"]
	path = workspace/nginx
	url = https://github.com/nginx/nginx
[submodule "workspace/ngx_brotli"]
	path = workspace/ngx_brotli
	url = https://github.com/wxx9248/ngx_brotli
[submodule "workspace/njs"]
	path = workspace/njs
	url = https://github.com/nginx/njs
[submodule "workspace/pcre2"]
	path = workspace/pcre2
	url = https://github.com/PCRE2Project/pcre2
[submodule "workspace/zlib"]
	path = workspace/zlib
	url = https://github.com/madler/zlib
