[submodule "nginx"]
	path = workspace/nginx
	url = https://github.com/nginx/nginx
[submodule "pcre2"]
	path = workspace/pcre2
	url = https://github.com/PhilipHazel/pcre2
[submodule "njs"]
	path = workspace/njs
	url = https://github.com/nginx/njs
[submodule "nginx-http-auth-digest"]
	path = workspace/nginx-http-auth-digest
	url = https://github.com/samizdatco/nginx-http-auth-digest
[submodule "ngx-fancyindex"]
	path = workspace/ngx-fancyindex
	url = https://github.com/wxx9248/ngx-fancyindex
[submodule "zlib"]
	path = workspace/zlib
	url = https://github.com/madler/zlib
[submodule "ngx_brotli"]
	path = workspace/ngx_brotli
	url = https://github.com/google/ngx_brotli
[submodule "libressl"]
	path = workspace/libressl
	url = https://github.com/libressl-portable/portable
[submodule "nginx-rtmp-module"]
	path = workspace/nginx-rtmp-module
	url = https://github.com/arut/nginx-rtmp-module
